$pageWidth:1170px;
$navHeight:64px;
$mainBoxWidth:798px;
$bannerHeight:202px;
$bannerWidth:$mainBoxWidth;
$themeColor:#5c87d9;
$mainFontColor:#212121;
$assistFontColor:#878787;
$newsInfoHeight:28px;
$lineColor:#eee;